/* individual portfolio images used to link to work examples */
#codechorus {
    background-image: URL(./images/figures/Capture-codechorus.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }
  