/* declare global variables */
:root {
  /* --darkest: rgba(15, 30, 35, 0.95);
  --flatText: rgb(192, 203, 227, 0.6);
  --lightest: rgb(192, 203, 227, 0.95);
  --grayTone: rgb(127, 160, 232, 0.91);
  --offDark: rgb(55, 65, 99, 0.39);
  --textcolor1: rgb(255, 255, 255, 1); */

  --darkest: rgb(20, 30, 24, 1);
  --flatText: rgb( 174, 189, 180, 1);
  --lightest: rgb(124, 200, 154, 1);
  --grayTone: rgb(127, 138, 131, 1);
  --offDark: rgba(174, 189, 180, 1);
  --textcolor1: rgb(255, 255, 255, 1);

  /* --darkest: rgb(3, 42, 82, 1);
  --flatText: rgb(121, 169, 217, 1);
  --lightest: rgb(8, 109, 209, 1);
  --grayTone: rgb(109, 111, 112, 1);
  --offDark: rgb(6, 81, 158, 1);
  --textcolor1: rgb(255, 255, 255, 1); */

  --mainbackg: rgb(85, 89, 99, 0.19);
  --backg1: linear-gradient(
    rgb(127, 138, 131, 1) 25%,
    rgb(20, 30, 24, 1 ) 85%
  );
  /* global sizing */
  --container-w-mins: 60vw;
  --container-h-mins: 60vw;
  --tile-w-mins: 30vw;
  --tile-h-mins: 30vw;
  --hero-w-mins: 50vw;
  --hero-h-mins: 50vw;  
  --maxBodyWidth: 1400px;
  --maxThirdWidth: 460px;
}

/* set document fonts throughout */
* {
  font-family: Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, 'Arial Narrow Bold', sans-serif; */
  text-shadow: 1px 1px 2px var(--darkest), 0 0 1em var(--darkest), 0 0 0.3em var(--darkest);
}
 
body {
  background-color: var(--darkest);
}


/* properties applicable to all items*/
.thework {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--darkest);
  
  align-items: center;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: myExample 60s ease-in-out infinite; */
}

/* @keyframes myExample {
  0%, 100%{
    background-image: URL(https://images.pexels.com/photos/5331847/pexels-photo-5331847.jpeg);
  }
  25%{
    background-image: URL(https://images.pexels.com/photos/5331840/pexels-photo-5331840.jpeg);
    
  }
  50%{
    background-image: URL(https://images.pexels.com/photos/5331849/pexels-photo-5331849.jpeg);
  }
  75%{
    background-image: URL(https://images.pexels.com/photos/7435254/pexels-photo-7435254.jpeg);
  }
} */


ol,
ul {
  list-style: none;
}

/* properties applicable to header, nav, and banner items*/
.header_container {
  display: flex;
  width: 100%;
  min-height: 50px;
  min-width: 250px;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
}

.header_name {
  font-weight: bolder;
  font-size: 22pt;
  color: var(--textcolor1);
  /* align-content: center; */
  min-width: 250px;
  display: inline-block;
}

.header_nav, .nav_links {
  display: flex;
  font-weight: bolder;
  font-size: 20pt;
  min-width: 500px;
  min-height: 50px;
  display: inline-block;
}

.nav_links {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.nav_items {
  align-items: center;
  color: var(--textcolor1);
}
/* properties applicable to hover state on nav and banner items*/
.nav_items:hover, .nav_items:active {
  box-shadow: inset 1px 1px 0px var(--lightest), 
  0px 0px 15px var(--lightest) ;
  cursor: URL("./images/pngs/cursor.png");
  border-radius: 10px;
}

.banner_section {
  min-height: 125px;
  width: 100%;
  background-image: var(--backg1), URL(./images/figures/Capture-cascades.gif);
  background-size: 15em 100%;
  background-repeat: repeat-x;
  opacity: 100%;
  z-index: 1;
  position: relative;
}
.holder {
  max-width: var(--maxBodyWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* properties relevant to main page content, about and contact sections, intermediate tiles in the work section */
.main_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: var(--container-w-mins);
  width: 100%;
  height: 100%;
  align-self: center;
  max-width: var(--maxBodyWidth);
  
}

.content_containers {
  width: 100%;
  max-width: var(--maxBodyWidth);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  
}

#top_container, #CTA_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section_name {
  display: flex;
  color: var(--textcolor1);
  font-weight: bolder;
  font-size: 36pt;
  align-self: center;
  align-content: center;
  justify-self: flex-end;
  justify-content: flex-end;
  width: 60%;
  padding: 3% 10%;
  max-height: 150px;
}

.section_article, .article_copy {
  display: inline-block;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
  color: var(--textcolor1);
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 14pt;
  line-height: 1.5;
  padding: 1%;
  width: 100%;
  margin: 1%;
}

#card_container_hero, #card_container_grit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: var(--maxBodyWidth/10);
}

/* specialized properties granted to hero image*/
.hero_example {
  min-width: 600px;
  padding: 1%;
  margin: 1%;
  position: relative;
  border: 1px solid var(--grayTone);
  border-radius: 20px;
  box-shadow: none;
  position: relative;
  object-fit: contain;
}
.tile_link {
  position: relative;
  /* max-width: 280px; */
}

.pointer_items_custom, .pointer_items_custom_arrow, .pointer_items_left, .pointer_items_left_arrow, .pointer_items_right, .pointer_items_right_arrow {
  font-family: 'Grape Nuts', cursive;
  color: var(--textcolor1);
  text-shadow: var(--grayTone);
  position: absolute;
  z-index: 100;
}

.pointer_items_left, .pointer_items_left_arrow {
  transform: rotate(-10deg);
  font-size: 40px;
}

.pointer_items_custom {
  left: 210px;
  bottom: -30px;
  font-size: 12px;
}

.pointer_items_custom_arrow {
  left: 375px;
  bottom: -30px;
  transform: rotate(-45deg);
  font-size: 30px;
}

.pointer_items_left {
  left: -80px;
  top: -10px;
}

.pointer_items_left_arrow {
  left: -30px;
  top: 60px;
}

.pointer_items_right, .pointer_items_right_arrow {
  transform: rotate(10deg);
  font-size: 40px;
}

.pointer_items_right {
  right: -70px;
  top: -10px;
}

.pointer_items_right_arrow {
  right: -20px;
  top: 60px;
}

/* shared properties granted to tile images */
.tile_link, .tile_example { 
  display: flex;
  min-width: 500px;
  min-height: 500px;
  aspect-ratio: 1 / 1;
  /* max-width: 400px;
  max-height: 400px; */
  padding: 3%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.tile_example {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  width: 40%;
  padding: 1%;
  margin: 1%;
  position: relative;
  /* apply transform to items */
  /* transform: rotate(1.5deg); */
  border: 2px solid var(--grayTone);
  border-radius: 20px;
  -webkit-border-radius: 25px;
  box-shadow: none;
}

/* individual portfolio images used to link to work examples */
/* #codechorus {
  background-image: URL(./images/figures/Capture-codechorus.gif);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
} */

#etch {
  background-image: URL(./images/figures/etch.gif);

}


#getweather {
  background-image: URL(./images/figures/Capture-getweather.gif);

}


#quizapp {
  background-image: URL(./images/figures/Capture-quizapp.gif);
}
#notfinancialadvice {
  background-image: URL(./images/figures/Capture-notfinancialadvice.gif);
}

#dayplanner {
  background-image: URL(./images/figures/Capture-dayplanner.gif)
}

#micra {
  background-image: URL(./images/figures/Capture-micraimplantation.gif);   
}

#cascades {
  background-image: URL(./images/figures/Screenshot-cascades.png);
}

#cardio {
  background-image: URL(./images/figures/Screenshot-cardioex.gif);
}

#top-derm {
  background-image: URL(./images/figures/Screenshot-top-derm.png);
}

#covid-19 {
  background-image: URL(./images/figures/Screenshot-covid19.png);
}

/* responsive glows for relevant states */
.hero_example:hover, .tile_example:hover, .tile_label:hover, .hero_example:active, .tile_example:active, .tile_label:active  {
  
  box-shadow: 1px 1px 3px var(--grayTone), 0 0 1em var(--grayTone), 0 0 0.2em var(--grayTone);
  border: 1px solid var(--grayTone);
}



.tile_label {
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-color: var(--mainbackg);
  color: var(--textcolor1);
  font-size: 22pt;
  border: 1px solid white;
  border-radius: 12px;
  padding: 2%;
  margin: 0;
  z-index: 100;
}


/* external link to open source repository that governs the page */
.githubicon {
  height: 1em;
  content: URL("./icons/GitHub-Mark-64px.png");
  object-fit: contain;
  filter: invert(1);
  /* border-radius: 15px; */
  /* border: 1px solid --textcolor1; */
  /* color: white; */
  /* background-color: rgb(255, 255, 255, 0.8); */
}

.githubicon:hover, .githubicon:active {
  box-shadow: inset 0px 0px 8px 
  rgb(105, 172, 234, 0.8), 
  0 0 15px rgb(35, 136, 230, 1);
}


/* properties for links*/
a {
  color: #000;
  text-decoration: none;
  font-size: inherit;
  outline: none;
  color: var(--lightest);
  /* removes underlining of links */
  text-decoration: none;
}

/* media tags help content display favorably in tablet and mobile browser viewports */
@media screen and (max-width: 992px) {
  
  .hero_example {
      min-width: 50vw;
      min-height: 50vw;
      max-width: var(--maxThirdWidth);
  }
  .tile_link, .tile_example {
      min-width: 35vw;
      min-height: 35vw;
      max-width: var(--maxThirdWidth);
  }

  #top_container, #CTA_container {
      flex-direction: column;
      align-items: center;
  }
  .section_article, .article_copy {
      align-content: center;
      font-size: 12pt;
      line-height: 1.7;
  
      
  }
  /* .pointer_items_left, .pointer_items_left_arrow, .pointer_items_right, .pointer_items_right_arrow {
      display: none    
  } */
  .section_name{
      font-size: 22pt;
      justify-content: center;
      justify-self: center;
      align-content: center;
      align-self: center;
  }
  .section_article, .article_copy {
      font-size: 14pt;
      line-height: 1.7;
      
  }


  .pointer_items_custom {
      left: 200px;
      bottom: -5px;
      
  }

  .pointer_items_custom_arrow {
      left: 360px;
      bottom: -10px;
      transform: rotate(-45deg);
      font-size: 30px;
  }

  .pointer_items_left {
      left: -80px;
      top: -25px;
  }

  .pointer_items_left_arrow {
      left: -30px;
      top: 40px;
  }

  .pointer_items_right {
      right: -70px;
      top: -25px;
  }

  .pointer_items_right_arrow {
      right: -60px;
      top: 40px;
  }

}

@media screen and (max-width: 768px) {
  
  .hero_example {
      min-width: 70vw;
      min-height: 70vw;
      margin-top: 6%;
      margin-bottom: 6%;
  }
  .tile_link, .tile_example {
      min-width: 55vw;
      min-height: 55vw;
      margin-top: 8%;
      margin-bottom: 8%;
  }

  .pointer_items_left, .pointer_items_left_arrow, .pointer_items_right, .pointer_items_right_arrow {
      font-size: 25px;
      /* display: none     */
  }


  .pointer_items_custom {
      left: 15px;
      bottom: -5px;
      
  }

  .pointer_items_custom_arrow {
      left: 185px;
      bottom: -10px;
      transform: rotate(-45deg);
      font-size: 30px;
  }

  .section_article, .article_copy {
      align-content: center;
      font-size: 12pt;
      line-height: 1.7;
      margin-right: 5%;
      margin-left: 5%;
      margin-bottom: 5%;
      padding-right: 4%;
      
  }

  .pointer_items_left, .pointer_items_left_arrow {
      transform: rotate(-7deg);
  }
  .pointer_items_right, .pointer_items_right_arrow {
      transform: rotate(7deg);
  }
  
  .pointer_items_left {
      left: -40px;
      top: -25px;
  }
  
  .pointer_items_left_arrow {
      left: -20px;
      top: 20px;
  }
  
  .pointer_items_right {
      right: -50px;
      top: -25px;
  }
  
  .pointer_items_right_arrow {
      right: -30px;
      top: 20px;
  }
  .header_name {
    text-align: center;
  }

  .header_nav, .nav_links {
    display: none;
  }

  .section_article, .article_copy {
      margin-right: 5%;
      margin-left: 5%;
  }
  .tile_label {
      font-size: 12pt;
      padding: 3%;
  }
}
